<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="{{constant('shopping\\Bootstrap::APP_URL') }}css/shopping.css"
          rel="stylesheet"
          type="text/css"/>
  </head>
  <body>
    <div id="wrapper">
      {% include 'header.html.twig' %}
      <div id="cart_list">
        <p>Shopping cart</p>
        <p><a href="{{constant('shopping\\Bootstrap::ENTRY_URL') }}list.php">Back to the list</a></p>
        <p>Number of items in cart：{{sumNum}}piece　Total fee：&yen;{{sumPrice|number_format(0, '.', ',')}}</p>
        {% if dataArr | length == 0 %}
        <p>There are no products in the cart</p>
        {% else %} {% for value in dataArr %}
        <div class="item">
          <ul>
            <li class="image">
              <img src="{{ constant('shopping\\Bootstrap::ENTRY_URL') }}images/{{value.image}}" alt="{{ value.item_name }}"/></li>
            <li class="name">{{ value.item_name }}</li>
            <li class="price">&yen;{{value.price|number_format(0, '.', ',')}}
            </li>
            <li>
              <a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}cart.php?crt_id={{ value.crt_id }}">Delete</a>
            </li>
          </ul>
        </div>
        {% endfor %} {% endif %}
      </div>
    </div>
  </body>
</html>
